.related-author {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.main-header {
  background-color: #f7f7f7;
  padding : 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

.post-img{
  width: 100%;
  height: auto;
}

.container{
  width: 800px;
  margin: 0 auto;
}

body {
  border-top: 10px solid #1098ad;
  
}

*{
  margin:0;
  padding: 0;
}

article {
  margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

footer p {
  font-size: 16px;
  color: green;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0 ;
  width: 500px;
}

nav {
  font-size: 18px;
}

ul,ol {
  margin-left: 50px;
}

ul.remove-bullet-point li {
  font-size: 20px;
  list-style-type: none;
}

ul li:first-child {
  font-weight: bold;
}

ul li:last-child {
  font-style: italic;
}

/*
ul li:nth-child(even) {
  color: red;
  font-style: italic;
} */

article p:last-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: dotted;
}

a:hover {
  cursor: pointer;
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:visited {
  color: #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}
