.related-author {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.main-header {
  background-color: #f7f7f7;
  justify-content: space-between;
  display: flex;
  height: 50px;
  margin-bottom: 50px;
}

.post-header {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author-box p {
  margin-left: 10px;
  margin-bottom: 0px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  margin-bottom: 0px;
  font-size:14px;
  font-weight: normal;
  font-style: italic;
}

.main-content {
  display: flex;
  gap:75px;
  justify-content: space-between;
  align-items: flex-start;
}

body {
  border-top: 10px solid #1098ad;

}

* {
  margin: 0;
  padding: 0;
}

article {
  margin-bottom: 60px;
  flex: 1;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  float: left;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: 'TOP';
  font-size: 16px;
  display: inline-block;
  right: -30px;
  top: -15px;
  padding: 5px 10px;
  background-color: yellow;
  color: black;
  position: absolute;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

footer p {
  font-size: 16px;
  clear: both;
  color: green;
}

aside {
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  flex: 0 1 350px;
}

nav {
  font-size: 18px;
  float: right;
}

nav a {
  align-items: center;
  display: inline-block;
  margin-right: 10px;
  padding-top: 10px;
}

ul.related li {
  font-size: 20px;
  list-style-type: none;
}

button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 100px;
  font-size: 20px;
}

a:link {
  color: #1098ad;
  text-decoration: dotted;
}

a:hover {
  cursor: pointer;
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:visited {
  color: #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}